.Counter {
    display: flex;
    flex-direction: column;
    -ms-flex-direction: column;
}

.Counter-Button {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.Counter-Button button {
    width: 150px;
    padding: 10px;
    border: 0;
    outline: none;
    color: white;
    font-weight: bold;
    font-size: 1.05rem;
    margin: 5px;
    background-color: #bababa;
    cursor: pointer;
    transition: ease-in-out 0.3s;
}

.Counter-Button button:hover {
    opacity: 0.5;
}